<html>

<head>
  
  <title>whisper</title>

  <!-- Styles -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">

</head>

<body>

<!-- Hero -->
<section class="hero is-fullheight is-dark is-bold">
  <!-- Hero Head -->
  <div class="hero-head">
    <nav class="tabs">
      <div class="container">
        <ul>
          <li><a href="/create">create</a></li>
          <li><a href="/join">join</a></li>
        </ul>
      </div>
    </nav>
  </div>

  <!-- Hero Body -->
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        whisper
      </h1>
      <h2 class="subtitle">
        portable private conversations
      </h2>
    </div>
  </div>

  <!-- Hero Foot -->
  <div class="hero-foot">
    <nav class="level">
      <div class="level-item has-text-centered" style="padding: 0.5em 0;">
        Made with &hearts; in Houston, TX
      </div>
    </nav>
  </div>
</section>

</body>



</html>